@import "../../styles/variables.scss";

.setting-bar {
  position: absolute;
  top: $toolbar-height;

  height: $toolbar-height;
  display: flex;
  align-items: center;
  width: 100%;


  box-shadow: 0 4px 5px gray;

  input {
    margin-left: 10px;
  }

  label {
    margin-left: 20px;
  }
}